<div class="container">
  <div class ="d-grid gap-2 col-6 mx-auto">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <span class="text-center"> <%= link_to "Back to restaurants", restaurants_path, :class => 'btn btn-outline-secondary' %></span>
      <span class="text-center"> <%= link_to "Show this restaurant", @restaurant, :class => 'btn btn-outline-secondary' %></span>
    </div>
    <hr>
    <h1 class="text-center"><%=@restaurant.title %></h1>
    <hr>
  </div>
  <%= render "form", restaurant: @restaurant %>
  <br>
</div>