<div class="container">
  <div style="text-align:center">
    <hr class="mt-0">
      <% if can? :create, Restaurant  %>
        <%= link_to "New restaurant", new_restaurant_path %>
      <% else %>
        <h5 class="card-title text-center">Рестораны</h5>
      <% end %>
    <hr>
  </div>

  <div id="restaurants">
    <% if @restaurants.empty? || @restaurants.nil? %>
      <h3>There's no restaurants...</h3>
    <%  else  %>
      <%  @restaurants.each do |restaurant|  %>
        <%=  render restaurant  %>
      <%  end  %>
    <%  end %>
  </div>
</div>
