<div class="container">
  <div class="card card-registration card-registration-2 py-3" style="border-radius: 15px;">
    <hr class="pt-0">
    <h1 class="text-center">New restaurant</h1>
    <hr class="pt-0">
    <%= render "form", restaurant: @restaurant %>
    <div class="fs-8 ms-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 18 18">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
      </svg>
      <%= link_to "Back to restaurants", restaurants_path, :class => 'text-muted'%>
    </div>
  </div>
</div>