<div id="<%= dom_id brand %>">
  <p>
    <strong>Title:</strong>
    <%= brand.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= brand.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= brand.address %>
  </p>

</div>
