<div class="container">
  <div class="prdt-top">
    <div class="col col-md-12 prdt-left">
      <div style="text-align:center">
        <hr class="mt-0">
        <% if can? :create, Brand  %>
          <%= link_to "New brand", new_brand_path %>
        <% else %>
          <h5 class="card-title text-center">Поставщики</h5>
        <% end %>
        <hr>
      </div>
      <% if @brands.empty? %>
        <h3>There's no brands...</h3>
      <% else %>
        <div style="text-align:center">
          <div class="row row-cols-3 g-3">
            <% @brands.each do |brand| %>
              <div class="col brand-left p-left ">
                <div class="card h-100">
                  <div class="brand-main">
                    <% if brand.img.attached?%>
                      <%= link_to(image_tag(brand.img, class: "img-fluid rounded-start"), brand) %>
                    <% else %>
                      <%= link_to(image_tag("no_image.jpg", class: "img-fluid rounded-start"), brand) %>
                    <% end %>
                    <div class="brand-bottom">
                      <h3><%= brand.title %></h3>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
