<div class="container">
  <h1 class="text-center">New brand</h1>

  <%= render "form", brand: @brand %>

  <br>

  <div class="text-center">
    <%= link_to "Back to brands", brands_path %>
  </div>'
</div>'
