<!--<div class="container">-->
  <section class="h-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-8">
          <div class="card card-registration card-registration-2 mb-3" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="card-body">
                  <h5 class="card-title text-center"><%= @user.email %></h5>
                  <hr>
                  <%= render "form", user: @user %>
                </div>
              </div>
              <div class="fs-8 mb-3 ms-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 18 18">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
                </svg>
                <%= link_to "Back", :back, :class => "text-muted" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
