<div class="d-grid gap-2 col-5 mx-auto">
  <%= search_form_for @q do |f|%>
    <div class="row mb-3">
    <div class="col pt-2">
    <%= f.label t("products.search_products"), :class => "form-label"%>
    </div>
    <div class="col">
    <%= f.search_field :title_or_description_cont, :class => "form-control", placeholder: t("forms.search") %>
    </div>
    <div class="col">
    <%= f.submit t('forms.submit'), :class => "btn btn-outline-dark" %>
    </div>
    </div>
  <% end %>
</div>
