<div class="container">
  <div class ="d-grid gap-2 col-6 mx-auto">
    <div class="row">
      <span class="col text-center"> <%= link_to "Back to products", products_path, :class => 'btn btn-outline-secondary' %></span>
      <span class="col text-center"> <%= link_to "Show this product", @product, :class => 'btn btn-outline-secondary' %></span>
    </div>
    <hr>
    <h1><%=@product.title %></h1>
    <hr>
  </div>
  <%= render "form", product: @product %>
  <br>
</div>